@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-body: Cabin, Lato, Unset;
    --font-heading: Cabin, Lato, Unset;
  }

  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@layer utilities {
  .text-brand-1 {
    @apply text-blue-600;
  }
  
  .text-brand-5 {
    @apply text-gray-600;
  }
  
  .bg-brand-6 {
    @apply bg-white;
  }
  
  .hover\:text-brand-1:hover {
    @apply text-blue-600;
  }
}
